#viewImages::before {
    background-image: url("chrome://chartero/skin/images.png");
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    content: "";
}

#viewImages.toggled::before {
    background-image: url("chrome://chartero/skin/images-toggled.png");
}

#imagesView {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.previewImg {
    border: 1px solid gray;
    margin: 10px;
    transition: all 0.6s;
}

.previewImg:hover {
    box-shadow: 0 0 8px turquoise;
}

html[dir="rtl"] #viewImages.toolbarButton::before {
    transform: scaleX(-1);
}
