**/build
node_modules
package-lock.json
zotero-cmd.json
dist
auto-imports.d.ts
.idea
.env
src/vue/tsconfig.config.tsbuildinfo
src/vue/vite.config.d.ts
src/vue/vite.config.js
src/vue/test/components.d.ts
