html[dir="rtl"] #viewImages.toolbarButton::before {
    transform: scaleX(-1);
}

#viewImages::before {
    background-image: url("chrome://chartero/content/icons/images.png");
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    content: "";
}

#viewImages.toggled::before {
    background-image: url("chrome://chartero/content/icons/images-toggled.png");
}

#imagesView {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 6px;
}

#imagesView #btnLoadMore {
    display: none;
    border-radius: 6%;
    border: 1px solid limegreen;
    background-color: palegreen;
    transition: all 0.2s;
    padding: 2px;
    margin: 6px;
    max-height: 20px;
    cursor: pointer;
}

#imagesView #btnLoadMore:hover {
    background-color: greenyellow;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#imagesView #btnLoadMore:active {
    background-color: green;
}

.previewImg {
    border: 1px solid gray;
    margin: 10px;
    transition: all 0.6s;
    overflow: hidden;
    cursor: pointer;
}

.previewImg:hover {
    box-shadow: 0 0 8px turquoise;
}

.hr-text {
    width: 100%;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #D2D8E2;
}
