@charset "utf-8";

body {
    margin: 0;
}

iframe {
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    border: none;
}

.chart-layout {
    overflow: hidden;
    margin: 10px;
    transition: all 0.6s;
    border-radius: 6px;
    transform: scale(0.9);
}

.chart-layout:hover {
    box-shadow: 0 0 12px rebeccapurple;
    transform: scale(1);
}

.charts-container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr 112px auto max-content;
    gap: 10px 10px;
    grid-template-areas:
        ". ."
        "skyline skyline"
        ". ."
        "timeline timeline";
    justify-content: center;
    /* align-items: stretch;
    align-content: stretch; */
    background-color: #0d1117;
    padding: 20px;
}

.skyline {
    grid-area: skyline;
    width: 690px;
    height: 112px;
    align-self: center;
    justify-self: center;
}

.timeline {
    grid-area: timeline;
    align-self: center;
    justify-self: center;
    width: calc(100% - 20px);
}
