@charset "utf-8";

.day-block {
    border-radius: 20%;
    transition: all 0.6s;
}

.day-block:hover {
    box-shadow: 0 0 6px gold;
    cursor: pointer;
}

#block-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(53, 1fr);
    grid-gap: 2px;
    padding: 2px;
    height: 88px;
    width: 640px;
    position: absolute;
    top: 16px;
    left: 38px;
}

#week-layout {
    display: block;
    position: absolute;
    width: 36px;
    top: 20px;
    left: 0;
}

#week-layout > p {
    display: block;
    text-align: right;
    margin: 9px 0 0;
}

.skyline-label {
    font-size: 12px;
    color: #FFFFFF;
    text-overflow: ellipsis;
}

#month-layout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    left: 36px;
    top: 0;
    width: 642px;
}

#month-layout > p {
    display: block;
    margin: 0;
}


[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    line-height: 1;
    font-size: .9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px #9CB8A2);
    transition: all 1s;
}

[data-tooltip]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 100;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 8px;
    border-radius: 3px;
    background: #7D7D7D;
    color: #FFFFFF;
    z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    opacity: 0.9;
}

[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #7D7D7D;
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
    bottom: calc(100% + 5px);
}

[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
    left: 50%;
    transform: translate(-50%, -4px);
}

[data-tooltip][data-flow="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #7D7D7D;
}

[data-tooltip][data-flow="bottom"]::after {
    top: calc(100% + 5px);
}

[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
    left: 50%;
    transform: translate(-50%, 8px);
}

[data-tooltip][data-flow="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #7D7D7D;
    left: calc(0em - 5px);
    transform: translate(-8px, -50%);
}

[data-tooltip][data-flow="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-8px, -50%);
}

[data-tooltip][data-flow="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #7D7D7D;
    right: calc(0em - 5px);
    transform: translate(8px, -50%);
}

[data-tooltip][data-flow="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(8px, -50%);
}

[data-tooltip=""]::after,
[data-tooltip=""]::before {
    display: none !important;
}
