.parallax-effect-glare-scale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    background-color: #505053;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: 200px;
    transform-style: preserve-3d;
}

.inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(90px);
}